ul,
ol {
  list-style: none;
}

h1,
p {
  text-align: center;
}

ol li:active {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
}

ol li:hover {
  background-color: black;
  color: white;
}